.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.loading::after {
  content: '';
  width: 4rem;
  height: 4rem;
  border: 5px solid #eee;
  border-top-color: #555;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 34em) {
  .loading::after {
    border: 4px solid #eee;
    border-top-color: #555;
  }
}
